<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'event_manager/styles.css' %}">
    <title>Events - Event Management</title>
</head>
<body>

<h1>Events</h1>
<div id="eventList">
    {% for event in events %}
    <div class="event-box">
        <a href="{{ event.link }}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">
            <img src="{{ event.image }}" class="event-image" alt="Event Image">
            <div class="event-details">
                <p>{{ event.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

</body>
</html>
