 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'event_manager/styles.css' %}">

    <title>Ecell MSIT</title>
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <a href="/events">Events</a>
    </div>
</nav>

<h1>Ecell MSIT</h1>

<h2>WHO ARE WE</h2>
<p>We are a team of enthusiastic individuals striving to create a change in society. We aim to cultivate an entrepreneurial ecosystem. We aim to bridge the gap between theoretical knowledge and practical applications of contemporary ideas. E-Cell MSIT acts as an outlet for entrepreneurial thought processes, zeal, and energy in order to transform ordinary minds into dynamic young individuals.</p>

</body>
</html>
